services:
  backend:
    image: ${DOCKERHUB_USERNAME}/mern-backend:latest
    ports:
      - "5050:5050" 
    networks:
      - mern_network
    environment:
      MONGO_URI: mongodb://mongodb:27017/mydatabase  
    depends_on:
      - mongodb
    restart: always

  frontend:
    image: ${DOCKERHUB_USERNAME}/mern-frontend:latest
    build:
      context: ./mern/frontend
      args:
        - VITE_API_URL=http://localhost:5050
    ports:
      - "80:80"  
    networks:
      - mern_network
    restart: always

  mongodb:
    image: mongo:latest  
    ports:
      - "27017:27017"  
    networks:
      - mern_network
    volumes:
      - mongo-data:/data/db
    restart: always

networks:
  mern_network:
    driver: bridge 

volumes:
  mongo-data:
    driver: local
